

// * {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   -ms-box-sizing: border-box;
//   box-sizing: border-box;
// }

p {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.header-photo {
  height: 100vh;
  object-fit: cover;
  width: 100%;
}

.brand-title {
  position: absolute;
  top: 20%;
  color: white;
  text-align: center;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 9em;
}

.brand-subtitle-white {
  position: absolute;
  top: 34%;
  color: white;
  text-align: center;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 2em;
  letter-spacing: .3em;
}

@media (max-width: 1024px) and (orientation: landscape) {
   .brand-title {
    top: 20%;
   }
  }
@media (max-width: 576px) {
   .brand-title {
    font-size: 6em;
    top: 23%;
   }
   .brand-subtitle-white {
    font-size: 1.5em;
    letter-spacing: .2em;
   }
  }
@media (max-width: 738px) and (orientation: landscape) {
   .brand-title {
    font-size: 6em;
    top: 18%;
   }
   .brand-subtitle-white {
    font-size: 1.5em;
    letter-spacing: .2em;
    top: 36%;
   }
  }

.brand-subtitle {
  left: 50%;
  padding: 30px;
  color: black;
  text-align: center;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 3em;
  letter-spacing: .3em;
}

.section-heading-row {
  height: 20rem;
}
.section-heading {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #7f896a;
  font-size: 5em;
  font-weight: 200;
}

h2 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: .1em;
}
.border {
  min-width: 100%;
  padding-bottom: 5px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.14902);
}

.raleway-xtralight {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4em;
  // line-height: .1em;
  font-weight: 200;
}

.moodboard{
  display: block;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 7px;
}

.logo-container{
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.aveda-logo {
  height: 100px;
}

// .inspiration-img {
//   width: 400px;
// }
// .inspiration-img-lg {
//   width: 800px;
// }
