{{!< default}}
<div id="root">{{{content}}}</div>

<header>
      <img role="presentation" class="header-photo" src="https://images.unsplash.com/photo-1462307883847-153a447c1131?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=511&amp;q=80&amp;cs=tinysrgb&amp;crop=">
      <div class="d-flex flex-column brand-container">
        <h1 class="brand-title">D&#8217Ametri&#8217s</h1>
        <h2 class="brand-subtitle-white">HAIR COLOR & DESIGN STUDIO</h2>
      </div>
</header>
<div class="wrapper">
  <!-- DESIGN CONCEPT HEADING-->
  <section class="container-fluid">
    <div class="row section-heading-row align-items-center pt-5 mt-5">
      <div class="col-sm-10 col-lg-2">
      </div>
      <div class="col-sm-11 col-lg-1">
      </div>
      <div class="col-sm-11 col-lg-8">
        <h1 class="section-heading pb-5">DESIGN CONCEPT</h1>
      </div>
    </div>
  </section>
  <!-- CLIENT CONCEPT -->
  <section class="container-fluid mb-5">
    <div class="row pb-5 border-bottom">
      <div class="col-sm-10 col-lg-2 mb-5">
        <h2>DESIGN</h2>
        <h2>OBJECTIVE:</h2>
      </div>
      <div class="col-sm-10 col-md-1 col-lg-1">
      </div>
      <div class="col-sm-11 col-md-11 col-lg-8">
        <p>Exploration of ideas and creative assets to redesign the web presence for <em>D'Ametri's Hair Color & Design Studio</em> with an updated modern look. Objective is to create a clean, sophisticated design that speaks to their brand and reflects the look of their beautiful new salon space. With an over-arching goal of driving additional traffic, the updated site will help create a more unified and cohesive brand statement and provide their online visitors with an inviting glimpse into the D'Ametri's experience. This preliminary style guide will be a living document, ultimately setting standards to ensure a consistent design and identity.
        </p>
      </div>
    </div>
  </section>

  <!-- LOGOS -->
  <section class="container-fluid mb-5">
    <div class="row pb-5 border-bottom">
      <div class="col-sm-10 col-lg-2 mb-5">
        <h2>LOGOS/</h2>
        <h2>TRADEMARKS:</h2>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-1">
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <p><em>D'Ametri's Logo</em></p>
        <img class="aveda-logo" src="/images/dametris-log-comp-dark.png">
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <p><em>Aveda Logo</em></p>
        <img class="aveda-logo" src="/images/aveda-logo-optimized.png">
      </div>
    </div>
  </section>

  <!-- TYPOGRAPHY -->
  <section class="container-fluid mb-5">
    <div class="row pb-5 border-bottom">
      <div class="col-sm-10 col-lg-2 mb-5">
        <h2>TYPOGRAPHY:</h2>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-1">
      </div>
      <div class="col-sm-8 col-md-6 col-lg-4">
        <p><em>Headings</em></p>
        <div>
          <span class="raleway-p">RALEWAY <br />EXTRA-LIGHT 200</span>
          <span class="raleway-xtralight">ABCDEFGHIJKLMNO<br />PQRSTUVWXYZ</span>
          <span class="raleway-xtralight">abcdefghijklmno<br />pqrstuvwxyz</span><br />
          <span class="raleway-xtralight pb-5">1234567890</span>
          <span class="raleway-b pt-3">RALEWAY <br />EXTRA-BOLD 800</span>
          <span class="raleway-xtrabold">ABCDEFGHIJKLMNO<br />PQRSTUVWXYZ</span>
        </div>
      </div>
      <div class="col-sm-7 col-md-6 col-lg-4">
        <p><em>Body Copy</em></p>
        <div>
          <span class="opensans-p">OPEN SANS <br />REGULAR 400</span>
          <span class="opensans">ABCDEFGHIJKLMNO<br />PQRSTUVWXYZ</span>
          <span class="opensans">abcdefghijklmno<br />pqrstuvwxyz</span><br />
          <span class="opensans">1234567890</span>
        </div>
    </div>
  </section>

  <!-- ICONOGRAPHY -->
  <section class="container-fluid mb-5">
    <div class="row pb-5 border-bottom">
      <div class="col-sm-10 col-lg-2 mb-5">
        <h2>ICONOGRAPHY:</h2>
      </div>
      <div class="col-sm-10 col-md-1 col-lg-1">
      </div>
      <div class="col-sm-11 col-md-11 col-lg-8">
        <p><em>Services Icons</em></p>
        <!-- <img class="icons" src="/images/noun_5334_cc.svg"/> -->
        <img class="icons" src="/images/noun_101216_cc.svg"/>
        <img class="icons" src="/images/noun_101225_cc.svg"/>
        <img class="icons" src="/images/noun_101217_cc.svg"/>
        <img class="icons" src="/images/noun_101224_cc.svg"/>
      </div>
    </div>
  </section>

  <!-- COLOR PALETTE -->
  <section class="container-fluid mb-5">
    <div class="row pb-5 border-bottom">
      <div class="col-sm-10 col-lg-2 mb-5">
        <h2>COLOR</h2>
        <h2>PALETTE:</h2>
      </div>
      <div class="col-sm-10 col-md-1 col-lg-1">
      </div>
      <div class="col-sm-11 col-md-11 col-lg-8 pt-3">
        <!-- <p><em>Services Icons</em></p> -->
        <div class="swatch color-1"></div>
        <div class="swatch color-2"></div>
        <div class="swatch color-3"></div>
        <div class="swatch color-4"></div>
        <div class="swatch color-5"></div>
        <div class="swatch color-6"></div>
      </div>
    </div>
  </section>

  <!-- IMAGE MOODBOARD HEADING-->
  <section class="container-fluid">
    <div class="row section-heading-row align-items-center">
      <div class="col-sm-10 col-lg-2">
      </div>
      <div class="col-sm-11 col-lg-1">
      </div>
      <div class="col-sm-11 col-lg-8">
        <h1 class="section-heading pb-5">IMAGE MOODBOARD</h1>
      </div>
    </div>
  </section>
  <!-- MOODBOARD -->
  <section class="container-fluid mb-5">
    <div class="row pb-5">
      <div class="col-sm-10 col-lg-2 mb-5">
        <h2>DESIGN</h2>
        <h2>INSPIRATION:</h2>
      </div>
      <div class="col-sm-12 col-lg-1">
      </div>
      <div class="col-sm-11 col-md-11 col-lg-8">
        <p>Inspiration was gathered from a collection of stock images and assets representing the look and feel of the <em>D'Ametri's</em> studio space in addition to a few iPhone snapshots taken at the salon itself. These assets also reflect a somewhat Aveda brand-feel which help communicate the Aveda partnership to the customer before they even walk in the door. Custom professional photography would capture unique, artistic images of the salon, as well as the human energy of the stylists in action and individual photos for a "meet the team" page.
        </p><br />
        <img class="moodboard" src="/images/dametris-moodboard-3.jpg">
        <img class="moodboard" src="/images/dametris-moodboard.jpg">
        <img class="moodboard" src="/images/dametris-moodboard-2.jpg">
      </div>
    </div>
  </section>
  <!-- WEDDING SECTION MOODBOARD -->
  <!-- <section class="container-fluid mb-5">
    <div class="row pb-5">
      <div class="col-sm-2">
        <h2>WEDDING</h2>
        <h2 class="border">IMAGERY:</h2>
      </div>
      <div class="col-sm-1">
      </div>
      <div class="col-sm-8">
        <img src="/images/dametris-moodboard-2.jpg">
      </div>
    </div>
  </section> -->

</div>
