{{!< default}}
<div id="root">{{{content}}}</div>

<header>
  <img role="presentation" class="header-photo" src="https://images.unsplash.com/photo-1462307883847-153a447c1131?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=511&amp;q=80&amp;cs=tinysrgb&amp;crop=">
  <h1 class="brand-title">D&#8217Ametri&#8217s</h1>
  <h2 class="brand-subtitle-white">MOOD BOARD</h2>
</header>

<section class="logos">
  <h1 class="brand-subtitle">BRANDING & LOGOS</h1>
  <div class="logo-container">
    <img src="/images/dametris logo 2.jpg"></i>
    <img class="aveda-logo" src="/images/aveda-logo-optimized.png">
  </div>
</section>

<section class="photo-flex-container">
  <img role="presentation" class="inspiration-img" src="https://images.unsplash.com/photo-1470500507674-2cbd7f1a08ea?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=510&amp;q=80&amp;cs=tinysrgb&amp;crop=">
  <img role="presentation" class="inspiration-img" src="https://images.unsplash.com/photo-1474649609555-0f5eae830bf2?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=1149&amp;q=80&amp;cs=tinysrgb&amp;crop=">
  <img role="presentation" class="inspiration-img" src="https://images.unsplash.com/photo-1469303139927-be9518d4e33f?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=960&amp;q=80&amp;cs=tinysrgb&amp;crop=">
  <img role="presentation" class="inspiration-img" src="https://images.unsplash.com/photo-1466970807610-b263736b11ca?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=511&amp;q=80&amp;cs=tinysrgb&amp;crop=">
  <img role="presentation" class="inspiration-img" src="https://images.unsplash.com/photo-1484891098104-d1cf58d9a66b?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=511&amp;q=80&amp;cs=tinysrgb&amp;crop=">
  <img role="presentation" class="inspiration-img" src="https://images.unsplash.com/photo-1459664018906-085c36f472af?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=511&amp;q=80&amp;cs=tinysrgb&amp;crop=">
  <img class="inspiration-img" src="https://static.pexels.com/photos/164004/pexels-photo-164004.jpeg">
  <img class="inspiration-img" src="https://static.pexels.com/photos/110106/pexels-photo-110106.jpeg">
  <img class="inspiration-img" src="https://static.pexels.com/photos/26980/pexels-photo-26980.jpg">
  <img class="inspiration-img" src="https://static.pexels.com/photos/227310/pexels-photo-227310.jpeg">
  <img class="inspiration-img" src="https://static.pexels.com/photos/28251/pexels-photo-28251.jpg">
  <img class="inspiration-img" src="https://static.pexels.com/photos/107921/pexels-photo-107921.jpeg">
  <img role="presentation" class="inspiration-img" src="https://images.unsplash.com/photo-1480455624313-e29b44bbfde1?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=511&amp;q=80&amp;cs=tinysrgb&amp;crop=">
  <img role="presentation" class="inspiration-img" src="https://images.unsplash.com/photo-1470321046001-e6e59e877d09?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=511&amp;q=80&amp;cs=tinysrgb&amp;crop=">
  <img role="presentation" class="inspiration-img" src="https://images.unsplash.com/photo-1482482097755-0b595893ba63?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=1149&amp;q=80&amp;cs=tinysrgb&amp;crop=">
  <img role="presentation" class="inspiration-img" src="https://images.unsplash.com/photo-1449179601336-c0e373f79109?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=1102&amp;q=80&amp;cs=tinysrgb&amp;crop=">
  <img role="presentation" class="inspiration-img" src="https://images.unsplash.com/photo-1467643143427-3ceb4e1ea2d5?dpr=2&amp;auto=format&amp;fit=crop&amp;w=767&amp;h=510&amp;q=80&amp;cs=tinysrgb&amp;crop=">
</section>
